#corps{
  /*width:100%;*/
  padding-left: clamp(1rem, 13vw, 60%);  /* more padding allowed on big screens */
  padding-right: clamp(1rem, 13vw, 40%);
  margin-top: clamp(1rem, 3vw, 20%);
}

.presentation{
  text-align: center;
  font-size: clamp(1.3rem, 1.9vw, 1.7rem); /* min 16px, max ~25px */
}

p{
  font-family: "karla", sans-serif;
  font-size: clamp(1.2rem, 1.3vw, 1.2rem); /* min 14px, max ~19px */
  line-height: 130%;
  color : #616262 ;
}


p.networks{
  padding-left: 40%;
  padding-top:1%;
  line-height: 100%;
}


hr{
  margin: 0;
  color : white;
}

strong{
  font-weight: bolder;
  /*line-height: 1.6;*/
  background: linear-gradient(90deg,rgba(152, 36, 156, 1) 4%, rgba(71, 90, 196, 1) 100%);
  background-clip: text;
  -webkit-background-clip: text; /* For Safari */
  color: transparent; /* Make the text color transparent */
  /*animation: flashy 1.5s infinite alternate; /* Add animation */*/
}

b{
  color: #ba37bf;
}

footer{
  text-align: center;
  font-family: "karla", sans-serif;
  padding-top:5%;
  color : #616262;
}

#menu{
  background: linear-gradient(to bottom, #ddd, white);
  margin: 0;
  padding : 20px;
  overflow: hidden;
  /*border: 1px solid #e7e7e7;*/
  background-color: #f3f3f3;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 1.4rem;
}

#menu a{
  color: #666;
  padding: 20px 50px 20px 50px;
   -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;

}

#menu a.active{
  color : black;
  /*text-shadow: 0px 5px 70px #1f618d;*/
}

#menu a:hover:not(.active) {
opacity: 0.7;
text-shadow: 0px 0px 10px grey;
}

a{
  color : #616262;
  text-decoration: underline;
  text-decoration-color: #f9f570; /* Color of the underline */
  text-decoration-thickness: 4px; /* Thickness of the underline */
  transition: text-decoration 1s ease; /* Transition effect */
}

a:hover{
  text-decoration: none;
  /*-webkit-transition-duration: 0.4s; /* Safari */*/
}


.button {
  display: inline-block;
  border : none;
  text-align: center;
  text-decoration: none;
  font-size: 90%;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.button:hover {
  background-color: White; /*LightGray;*/
  color:  #616262;
}

.tagAction{
background-color: #98249C; 
/*#98249C;*/ /*#4caf50;*/
border-radius: 5px;
padding : 1px 4px 1px 4px;
color: white; 
}


.specifyResults{
  /*content: "\2192"; */
  font-family: "Montserrat", sans-serif;
  font-size: clamp(1.2rem, 1.9vw, 1.7rem); /* min 16px, max ~25px */
  padding-left:1%;
  margin-bottom:0%;
  text-decoration: none;

}


#hr2{
  height: 1px;
  border: 0;
  border-top: 1px solid #D8D8D8;
  margin-left: 8%;
  margin-right: 8%;
}

#showData {
  /*font-size: clamp(1.3rem, 1.9vw, 1.3rem); /* min 16px, max ~25px */
}

#showData a{ 
  font-size: 68%;
  text-decoration-thickness: 2px; /* Thickness of the underline */
}

.code{
  font-family: monospace;
}

